<footer class="footer">

    <div class="footer-top">

        <div class="footer-brand">

            <h2>SHOP.CO</h2>

            <p>
                We have clothes that suits your style and
                which you're proud to wear. From
                women to men.
            </p>

            <div class="social-icons">
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-github"></i>
            </div>

        </div>

        <div class="footer-links">

            <h4>COMPANY</h4>

            <a href="#">About</a>
            <a href="#">Features</a>
            <a href="#">Works</a>
            <a href="#">Career</a>

        </div>

        <div class="footer-links">

            <h4>HELP</h4>

            <a href="#">Customer Support</a>
            <a href="#">Delivery Details</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Privacy Policy</a>

        </div>

        <div class="footer-links">

            <h4>FAQ</h4>

            <a href="#">Account</a>
            <a href="#">Manage Deliveries</a>
            <a href="#">Orders</a>
            <a href="#">Payments</a>

        </div>

        <div class="footer-links">

            <h4>RESOURCES</h4>

            <a href="#">Free eBooks</a>
            <a href="#">Development Tutorial</a>
            <a href="#">How to - Blog</a>
            <a href="#">Youtube Playlist</a>

        </div>

    </div>

    <hr>

    <div class="footer-bottom">

        <p>Shop.co © 2000-2023, All Rights Reserved</p>

        <div class="payment-icons">

            <img src="images/icons/icons8-visa-48.png" alt="">
           <img src="images/icons/icons8-visa-48.png" alt="">
           <img src="images/icons/icons8-visa-48.png" alt="">
           <img src="images/icons/icons8-visa-48.png" alt="">

        </div>

    </div>

</footer>
