<!-- Top Offer Bar -->
<div class="top-bar">

    <p>
        Sign up and get 20% off to your first order.
        <a href="#">Sign Up Now</a>
    </p>

    <i class="fa-solid fa-xmark"></i>

</div>

<!-- Navbar -->
<header class="navbar">

    <div class="logo">
        SHOP.CO
    </div>

    <nav class="nav-links">
        <a href="../pages/shop.html">Shop</a>
        <a href="#">On Sale</a>
        <a href="#">New Arrivals</a>
        <a href="#">Brands</a>
    </nav>

    <div class="search-box">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Search for products...">
    </div>

    <div class="nav-icons">

        <a href="../pages/cart.html" class="cart-icon">
            <i class="fa-solid fa-cart-shopping"></i>
            <span id="cart-count">0</span>
        </a>

        <i class="fa-regular fa-user"></i>

    </div>

</header>